DJANGO_SECRET_KEY=replace-this-for-non-local-environments

POSTGRES_DB=dongguk_student_ai
POSTGRES_USER=dongguk
POSTGRES_PASSWORD=replace-with-a-local-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432